@model SEDCWebApplication.ViewModels.EmployeeDetailsViewModel

<div class="main_container">
    <div class="picture">
        <img class="img" src="@Url.Content(Model.Picture)" />
    </div>
    <div class="information">
        <h3> @Model.Name</h3>
        <p> @Model.Company</p>

        <p> <b>E-mail:</b> @Model.Email </p>
    </div>
</div>
